{% extends 'layout.twig' %}

{% block title %}
    Welcome to Cuzco
{% endblock %}

{% block pageHeading %}
    Cuzco - Your contact book in the cloud
{% endblock %}

{% block main %}
    <p>
        This is the landing page. There is going to be some image or something here.
        Logged in users shouldn't see this.
    </p>
    <p>
        Links to registration and login below.
    </p>
    <div>
        <a href="{{ PATH_REGISTRATION }}">Register</a><br>
        <a href="{{ PATH_LOGIN }}">Log in</a>
    </div>
{% endblock %}