<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <header id="page-header">
        <h1>{% block pageHeading %}{% endblock %}</h1>
    </header>
    <div id="main">
        {% block main %}{% endblock %}
    </div>
    <footer id="footer">
        Some footer stuff idk. &copy; 2017 Yulski
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>