{% extends 'layout.twig' %}

{% block title %}
    Cuzco registration
{% endblock %}

{% block pageHeading %}
    Register
{% endblock %}

{% block main %}
    <form method="post" action="{{ path(PATH_REGISTRATION) }}">
        <section>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required/>
        </section>
        <section>
            <label for="password1">Password: </label>
            <input type="password" id="password1" name="password1" required/>
        </section>
        <section>
            <label for="password2">Repeat password: </label>
            <input type="password" id="password2" name="password2" required/>
        </section>
        <input type="submit" value="Register"/>
    </form>
{% endblock %}
