{% extends 'layout.twig' %}

{% block title %}
    Cuzco profile
{% endblock %}

{% block pageHeading %}
    Your profile
{% endblock %}

{% block main %}
    <div>
        <a href="{{ path(PATH_EDIT_PROFILE) }}">Edit profile</a><br/>
        <a href="{{ path(PATH_DELETE_PROFILE) }}">Delete profile</a>
    </div>
    Email: {{ user.getEmail() }}<br/>
    Some other info...
{% endblock %}
